<div class ="container">
    <h2 *ngIf="immobilliers && immobilliers.length > 0">{{title}}</h2>
     
      <div class="card" style="width: 18rem;">
        
        <div class="col mb-5" *ngFor="let immobillier of immobilliers">
        <div class="card">
         <img src="{{immobillier.imageUrl}}" class="card-img-top" alt="{{immobillier.immoName}}"/>
          <div class="card-body">
            <h5 class="card-title">{{immobillier.immoName}}</h5>
            <p class="card-text">
                {{immobillier.decription}}
            </p>

            
          </div>   
        </div>
        </div>
    </div>

</div>
